gdal  # only for mesh_crue10_run.py with casiers
jinja2
matplotlib
numpy
pyshp>=2.0
scipy
shapely
triangle
Crue10_tools @ git+https://github.com/CNR-Engineering/Crue10_tools.git@master
PyTelTools @ git+https://github.com/CNR-Engineering/PyTelTools.git@master