gdal  # only for mesh_crue10_run.py with casiers
jinja2
matplotlib
numpy
pyshp>=2.0
scipy
shapely
triangle
# -e git+https://github.com/CNR-Engineering/Crue10_tools.git#egg=Crue10_tools>=4.0
# -e git+https://github.com/CNR-Engineering/PyTelTools.git#egg=PyTelTools
